In [14]:
# Initial imports
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
# Load in the data
file_path = "C:/Users/14109/code/Beer_Restaurant_Success/cleaned_beer_dataset.csv"
permit_df = pd.read_csv(file_path, index_col=0)

permit_df.head()

,Permit #,Status,Permit Type,Permit SubType,Permit Sub Type Description,Date Entered,Date Issued,Parcel,Business Name,Address,City,State,Zip,Mapped Location
0,19-25846,ISSUED,BBPERMIT,ONSALES,BB - On Site Sales,01/24/2019,06/03/2019,16300030200,EXO-TIKKA INDIAN CUSINE,5385 MT VIEW RD,ANTIOCH,TN,37013.0,"5385 MT VIEW RD\r\nANTIOCH, TN 37013\r\n(36.04..."
1,16-20340,ISSUED,BBPERMIT,ONSALES,BB - On Site Sales,05/18/2016,09/23/2016,09114025000,Las Palmas Mexican Restaurant,5821 Charlotte PIKE,Nashville,TN,37209.0,"5821 Charlotte PIKE\r\nNashville, TN 37209\r\n..."
2,17-00205,ISSUED,BBPERMIT,WHOLESALES,"BB - Wholesale, Distributor",11/03/2016,07/10/2017,09112001600,Fat Bottom Brewing,800 44th AVE N,Nashville,TN,37209.0,"800 44th AVE N\r\nNashville, TN 37209\r\n(36.1..."
3,19-25920,ISSUED,BBPERMIT,ONOFFSALES,BB - On & Off Site Sales,03/06/2019,06/13/2019,11714013900,NASHVILLE CIGAR,4001 HILLSBORO PIKE,NASHVILLE,TN,37215.0,"4001 HILLSBORO PIKE\r\nNASHVILLE, TN 37215\r\n..."
4,19-25985,ISSUED,BBPERMIT,ONOFFSALES,BB - On & Off Site Sales,04/22/2019,06/13/2019,08305018200,TAILGATE BREWERY EAST NASHVILLE,811 GALLATIN AVE,NASHVILLE,TN,37206.0,"811 GALLATIN AVE\r\nNASHVILLE, TN 37206\r\n(36..."

In [19]:
permit_df.nunique()

Permit #                       1365
Status                            1
Permit Type                       1
Permit SubType                    4
Permit Sub Type Description       4
Date Entered                    983
Date Issued                     687
Parcel                         1014
Business Name                  1290
Address                        1226
City                             20
State                             1
Zip                              34
Mapped Location                1227
dtype: int64

In [20]:
# Create a new DataFrame that holds only the Permit Name
permit_name_df = pd.DataFrame(permit_df["Permit #"]).set_index(permit_df.index)
permit_name_df.head()

   Permit #
0  19-25846
1  16-20340
2  17-00205
3  19-25920
4  19-25985

In [22]:
# Drop the non-beneficial columns
permit_df.drop(['Permit #', 'Status', 'Permit Type', 'Permit Sub Type Description', 'Date Entered', 'Date Issued', 'Parcel', 'Business Name', 'Address', 'City', 'State', 'Mapped Location'], axis=1, inplace=True)

In [23]:
# Use get_dummies() to create variables for text features.
X = pd.get_dummies(data=permit_df, columns=["Permit SubType", "Zip"])
X.head()

,Permit SubType_ONOFFSALES,Permit SubType_ONSALES,Permit SubType_SPECIAL,Permit SubType_WHOLESALES,Zip_0.0,Zip_37013.0,Zip_37027.0,Zip_37067.0,Zip_37072.0,Zip_37076.0,...,Zip_37213.0,Zip_37214.0,Zip_37215.0,Zip_37216.0,Zip_37217.0,Zip_37218.0,Zip_37219.0,Zip_37220.0,Zip_37221.0,Zip_37228.0
0,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# Standardize the data with StandardScaler().
permit_scaled = StandardScaler().fit_transform(X)
permit_scaled

array([[-0.37341524,  0.47130022, -0.1792694 , ..., -0.0269191 ,
        -0.17047317, -0.07633254],
       [-0.37341524,  0.47130022, -0.1792694 , ..., -0.0269191 ,
        -0.17047317, -0.07633254],
       [-0.37341524, -2.12178982, -0.1792694 , ..., -0.0269191 ,
        -0.17047317, -0.07633254],
       ...,
       [-0.37341524,  0.47130022, -0.1792694 , ..., -0.0269191 ,
        -0.17047317, -0.07633254],
       [-0.37341524,  0.47130022, -0.1792694 , ..., -0.0269191 ,
        -0.17047317, -0.07633254],
       [-0.37341524,  0.47130022, -0.1792694 , ..., -0.0269191 ,
        -0.17047317, -0.07633254]])