In [2]:
# Import the requests library.
import requests
# import socrata
from sodapy import Socrata
# import pandas
import pandas as pd

In [12]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.nashville.gov", None)

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("3wb6-xy3j", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [13]:
results_df.head()

,permit_number,status,permit_type,permit_subtype,sub_type_description,date_entered,date_issued,parcel,business_name,address,...,council_district,census_tract,mapped_location,:@computed_region_c9xn_skx3,:@computed_region_sjpq_96s8,:@computed_region_v3ji_vzam,:@computed_region_gisn_y5cm,:@computed_region_f73m_vb2k,business_owner,:@computed_region_cfa7_hbpz
0,19-25846,ISSUED,BBPERMIT,ONSALES,BB - On Site Sales,2019-01-24T00:00:00.000,2019-06-03T00:00:00.000,16300030200,EXO-TIKKA INDIAN CUSINE,5385 MT VIEW RD,...,32,37015629,"{'latitude': '36.047649', 'longitude': '-86.64...",30,24062,2005,7,8,NaN,NaN
1,16-20340,ISSUED,BBPERMIT,ONSALES,BB - On Site Sales,2016-05-18T00:00:00.000,2016-09-23T00:00:00.000,09114025000,Las Palmas Mexican Restaurant,5821 Charlotte PIKE,...,20,37018101,"{'latitude': '36.149076', 'longitude': '-86.86...",14,15798,2005,8,5,"Las Palmas Mexican Restaurant Inc, Qurino Onate",NaN
2,17-00205,ISSUED,BBPERMIT,WHOLESALES,"BB - Wholesale, Distributor",2016-11-03T00:00:00.000,2017-07-10T00:00:00.000,09112001600,Fat Bottom Brewing,800 44th AVE N,...,20,37013300,"{'latitude': '36.157013', 'longitude': '-86.83...",14,15798,2005,8,1,Fat Bottom Brewing Inc,642
3,19-25920,ISSUED,BBPERMIT,ONOFFSALES,BB - On & Off Site Sales,2019-03-06T00:00:00.000,2019-06-13T00:00:00.000,11714013900,NASHVILLE CIGAR,4001 HILLSBORO PIKE,...,25,37017901,"{'latitude': '36.104329', 'longitude': '-86.81...",23,15809,2005,5,6,686 Bluberry Hill Road,NaN
4,19-25985,ISSUED,BBPERMIT,ONOFFSALES,BB - On & Off Site Sales,2019-04-22T00:00:00.000,2019-06-13T00:00:00.000,08305018200,TAILGATE BREWERY EAST NASHVILLE,811 GALLATIN AVE,...,6,37011700,"{'latitude': '36.186415', 'longitude': '-86.74...",7,15548,2005,2,7,NaN,NaN