In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Loading data
file_path = Path("database_join.csv")
df = pd.read_csv(file_path)
df.head()

,index,zip_code,total_population,total_male_population,total_female_popularion,eight_teen_plus,eight_teen_plus_male,eight_teen_plus_female,population_eight_teen_to_twenty_four,eight_teen_to_twenty_four_not_high_school_graduate,...,index-2,permit_number,permit_subtype,date_entered,date_issued,business_name,zip_code-2,latitude,longitude,permit_duration
0,0,37013,97939,47658,50281,59479,27984,31495,9099,1073,...,0,19-25846,ONSALES,2019-01-24,2019-06-03,EXO-TIKKA INDIAN CUSINE,37013,36.047649,-86.648119,797 days
1,18,37209,38664,18251,20413,29326,13363,15963,5522,337,...,1,16-20340,ONSALES,2016-05-18,2016-09-23,Las Palmas Mexican Restaurant,37209,36.149076,-86.863105,1780 days
2,24,37215,22379,9989,12390,17874,7986,9888,1774,222,...,2,19-25920,ONOFFSALES,2019-03-06,2019-06-13,NASHVILLE CIGAR,37215,36.104329,-86.815039,787 days
3,15,37206,26382,12473,13909,20213,9555,10658,1990,228,...,3,19-25985,ONOFFSALES,2019-04-22,2019-06-13,TAILGATE BREWERY EAST NASHVILLE,37206,36.186415,-86.747210,787 days
4,18,37209,38664,18251,20413,29326,13363,15963,5522,337,...,4,17-25076,ONSALES,2017-06-07,2018-03-02,BARE BONES BUTCHER,37209,36.158192,-86.848890,1255 days

In [3]:
# Define the features set.
X = df[["average_household_income","permit_number"]]

X.head()

   average_household_income permit_number
0                     26832      19-25846
1                     32539      16-20340
2                     88326      19-25920
3                     36851      19-25985
4                     32539      17-25076

In [8]:
# Use get_dummies() to create variables permit_number.
pn = pd.get_dummies(data=X, columns=["permit_number"])
pn.head()

,average_household_income,permit_number_00-00507,permit_number_00-17595,permit_number_00-17637,permit_number_00-17649,permit_number_00-17677,permit_number_01-00559,permit_number_01-17748,permit_number_02-00639,permit_number_02-17877,...,permit_number_95-16497,permit_number_95-16665,permit_number_97-17250,permit_number_98-17277,permit_number_98-17305,permit_number_98-17354,permit_number_98-17408,permit_number_99-17431,permit_number_99-17540,permit_number_D21-27223
0,26832,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,32539,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,88326,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,36851,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,32539,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# Standardize the data with StandardScaler().
permit_scaled = StandardScaler().fit_transform(X)
permit_scaled

ValueError: could not convert string to float: '19-25846'

In [6]:
y = df["zip_code"].ravel()
y[:5]

array([37013, 37209, 37215, 37206, 37209], dtype=int64)

In [ ]:
# split and train
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)